:root {
  --background-color: #ffffff;
  --background-color-header: #2f303a;
  --background-color-team: #f5f4fa;
  --color-text-first: #212121;
  --color-text-second: #757575;
  --color-text-third: #ffffff;
  --color-link-first: #2196f3;
  --color-link-second: #000000;
  --color-helper-text: #8e8f99;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --font-primary: Roboto, sans-serif;
  --font-secondary: Raleway, sans-serif;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--font-primary);
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.menu-links-web {
  font-family: var(--font-secondary);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-link-first);
}

.menu-links-studio {
  color: var(--color-link-second);
}
.menu-links-agencja {
  line-height: 1.14;
  color: var(--color-link-first);
}
.menu-links-agencja:focus .menu-links-portfolio {
  line-height: 1.14;

  color: var(--color-text-first);
}
.menu-links-portfolio:focus,
.menu-links-kontakt {
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text-first);
}
.menu-links-kontakt:focus,
.menu-links-mail {
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-link-first);
}
.menu-links-mail:focus,
.menu-links-phone {
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text-second);
}
.menu-links-phone:focus,
.header-background {
  background: var(--background-color-header);
}
.team-section-background {
  background: var(--background-color-team);
}
.header-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  color: var(--color-text-third);
}
.button-studio {
  background: var(--color-link-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-studio-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: var(--font-primary);
  color: var(--color-text-third);
}
.cursor {
  cursor: pointer;
}
.lorem-ipsum {
  font-weight: 700;
  line-height: 1.14;
  color: var(--color-text-first);
  letter-spacing: 0.03em;
}
.lorem-ipsum-text {
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text-second);
  letter-spacing: 0.03em;
}
.header-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--color-text-first);
}
.header-h3 {
  font-size: 16px;
  line-height: 1.19;

  color: var(--color-text-first);
}
.team-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: var(--color-text-second);
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: var(--background-color-header);
}
.footer-links-web {
  font-family: var(--font-secondary);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-first);
}
.footer-links-studio {
  font-family: var(--font-secondary);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--color-text-third);
}
.footer-links-address {
  font-weight: 400;

  line-height: 1.71;

  color: var(--color-text-third);
}
.footer-links-address:focus,
.footer-links-mail {
  font-weight: 400;

  line-height: 1.71;

  color: var(--footer-text-color);
}
.footer-links-mail:focus,
.footer-links-phone {
  font-weight: 400;

  line-height: 1.71;

  color: var(--footer-text-color);
}
